POSTGRES_USER=username
POSTGRES_PW=password
POSTGRES_DB=analytics_events
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
PGADMIN_MAIL=email@example.com
PGADMIN_PW=password

LIGHTDASH_DB_PASSWORD=password
LIGHTDASH_SECRET= # generate a hex32 string

MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_password